from flask import Flask, render_template, request,flash,session,redirect,url_for
from flask_mysqldb import MySQL

app =Flask (__name__)

app.config['MYSQL_HOST'] = 'localhost'
app.config['MYSQL_USER'] = 'root'
app.config['MYSQL_PASSWORD'] = ''
app.config['MYSQL_DB'] = 'organic_food'
app.config['SESSION_TYPE'] = ''
app.config['SECRET_KEY'] = 'super secret key'

mysql = MySQL(app)

@app.route('/')
def index():
    return render_template("index.html");

@app.route('/payment', methods=['POST','GET'])
def payment():
    status = True
    if request.method == "POST":
        details = request.form
        cno = details['cno']
        cname = details['cname']
        dateexp = details['dateexp']
        cvv = details['cvv']
        pprice = details['pprice']
        cur = mysql.connection.cursor()
        cur.execute("INSERT INTO payment(cno, cname, expdate, cvv, price) VALUES (%s, %s, %s, %s, %s)",
                    (cno, cname, dateexp, cvv, pprice))
        mysql.connection.commit()
        cur.close()
        return render_template('user_view_booking.html');
    else:
        return render_template("payment.html");



if __name__ == '__main__':
    app.debug = True
    app.run()