{% extends "user_header.html" %}
{% block body %}
<form action="" method="post">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="container">
                <h2>More Details...!</h2>
                <br>


                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <p>More Details contect Whatsapp .....</p>
                        <p>Contact Numbers: 9865321245/9856236546</p>
                        <a  href="https://wa.me/+919922746393" class="btn btn-success form-control">More Details On Whatsapp</a>

                    </div>
                    <div class="col-sm-1"></div>

                </div>

            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
    </form>
<br>
{% endblock %}