{% extends "user_header.html" %}
{% block body %}
{{ success }}
<script>
    function cal()
    {
    var a=document.getElementById("p").value;
    var b=document.getElementById("q").value;

    var c=a*b;
    document.getElementById("t").value=c;
    }
</script>
<form action="{{ url_for('booking') }}" method="post">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="container">
                <h2>Booking Here...!</h2>
                <br>
                 <input type="hidden" value="{{ session['username'] }}"  name="email">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <label>Customer Name</label>
                        <input type="text"  name="cname"  placeholder="Customer name"  class="form-control" onkeypress="javascript:return isString(event)" required>

                    </div>
                    <div class="col-sm-1"></div>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <label>Contact No</label>
                        <input type="number" name="contact" class="form-control" placeholder="Contact no" pattern="[7-9]{1}[0-9]{9}"
       title="Phone number with 7-9 and remaing 9 digit with 0-9" required>

                    </div>
                    <div class="col-sm-1"></div>

                </div>
                 <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <label>Address</label>
                        <input type="text" name="address" class="form-control" placeholder="Address" value="" required>
                    </div>
                    <div class="col-sm-1"></div>

                </div>
                <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <label>Product name</label>
                        <input type="text" name="pname" class="form-control" placeholder="Style name" value="{{ name }}" onkeypress="javascript:return isString(event)" required>
                    </div>
                    <div class="col-sm-1"></div>

                </div>
                  <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <label>Price</label>
                        <input type="text" name="pprice" id="p" onkeyup="cal()" class="form-control" placeholder="Price"  value="{{ price }}" onkeypress="javascript:return isNumber(event)" required>
                    </div>
                    <div class="col-sm-1"></div>

                </div>
                   <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <label>Qty</label>
                        <input type="number" name="qty" id="q" onkeyup="cal()" class="form-control" placeholder="Qty"  value="" onkeypress="javascript:return isNumber(event)" required maxlength="2">
                    </div>
                    <div class="col-sm-1"></div>

                </div>
                 <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <label>Total Amount</label>
                        <input type="number" name="tamount" id="t" onkeyup="cal()" class="form-control" placeholder="Amount"  value="" onkeypress="javascript:return isNumber(event)" required>
                    </div>
                    <div class="col-sm-1"></div>

                </div>


                <br>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <input type="submit" value="Submit" class="btn btn-info" name="btnsubmit">
                      <input type="reset" value="Cancel" class="btn btn-danger" name="btnsubmit">
                    </div>
                    <div class="col-sm-1"></div>

                </div>

            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
    </form>
<br>


{% endblock %}