{% extends "user_header.html" %}
{% block body %}

<div class="container-fluid">
    <div class="container">
<!--        {% with messages = get_flashed_messages() %}-->
<!--   {% if messages %}-->
<!--      {% for message in messages %}-->
<!--<div class="well">-->
<!--<div class="alert alert-success" role="alert">-->
<!--   {{ message }}-->
<!--</div>-->
<!--    </div>-->
<!--      {% endfor %}-->
<!--   {% endif %}-->
<!--{% endwith %}-->
    <h2>Products</h2>

      {% for row in value %}

     <div class="packages" style="padding:10px">
<div class="row">
    <div class="col-sm-2"></div>
    <form action="{{ url_for('userbookings') }}" method="post">
    <div class="col-sm-10">
        <img src="{{ row[2] }}" height="100" width="100" class="responsive">
        <center><p>Name: {{ row[1] }}</p><input type="hidden" value="{{ row[1] }}" name="name">
        <p>Date :{{ row[3] }}</p>
        <p>Category :{{ row[4] }}</p>
        <p>Price :{{ row[5] }}</p>
            <p style="color:green">Green Friends(27AJOPD6574B1Z6)</p>
            <p style="color:green">Certified Organic Food</p>
                  <input type="hidden" value="{{ row[5] }}" name="price">
        <input type="submit" value="Book Now" name="btn" class="btn btn-info">
        <input type="reset" value="Cancel" class="btn btn-danger" name="btnsubmit"></center>
    </div>
          </form>
</div>
        </div>

        {% endfor %}


</div>
    </div>
    <br>

{% endblock %}